<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Keybase">

    <test name="Users">
        <classes>
            <class name="TestGetUsers"/>
        </classes>
    </test>

    <test name="Signatures">
        <classes>
            <class name="TestSignedMessage"/>
        </classes>
    </test>
</suite>