<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="KeybaseConnector">

    <test name="Users">
        <classes>
            <class name="uk.co.jrtapsell.fyp.keybaseConnector.TestGetUsers"/>
        </classes>
    </test>

    <test name="Signatures">
        <classes>
            <class name="uk.co.jrtapsell.fyp.keybaseConnector.TestSignedMessage"/>
        </classes>
    </test>
    <test name="badRequests">
        <classes>
            <class name="uk.co.jrtapsell.fyp.keybaseConnector.TestBadRequests"/>
        </classes>
    </test>
</suite>