<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Git Wrapper">

    <test name="ProcessIO">
        <classes>
            <class name="uk.co.jrtapsell.fyp.processTools.TestProcessIO"/>
        </classes>
    </test>
    <test name="TerminatedSource">
        <classes>
            <class name="uk.co.jrtapsell.fyp.processTools.TestTerminatedSource"/>
        </classes>
    </test>
</suite>