<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Project">

    <test name="Process">
        <classes>
            <class name="uk.co.jrtapsell.gitWrapper.TestProcessIO"/>
            <class name="uk.co.jrtapsell.gitWrapper.TestGit"/>
            <class name="uk.co.jrtapsell.gitWrapper.TestTerminatedSource"/>
        </classes>
    </test>

</suite>